<!DOCTYPE html>
<html>
	<head>
		<title>{{global.title}}</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200" rel="stylesheet">
    {{>head}}
	</head>
	<body>
    {{>@partial-block}}
    {{>footer}}
  </body>
</html>
