<div class="nav-menu">
  <a ng-href="#/"><div class="nav-brand">{{global.brand}}</div></a>
  <ul class="nav-buttons">
    <a ng-href="#/signup"><li class="nav-btn">Sign Up</li></a>
    <li class="nav-btn">Login</li>
  </ul>
</div>
