li{
  font-size:15px;
}

.box{
  padding: 35px;
  border-width: 2px;
  width: 300px;
}
.centered_div {
   width: Xu;
   height: Yu;
   position: absolute;
   top: 35%;
   left: 35%;
   margin-left: -(X/2)u;
   margin-top: -(Y/2)u;
}
.centered2{
  width: Xu;
  height: Yu;
  position: absolute;
  left: 4%;
  margin-left: -(X/2)u;
  margin-top: -(Y/2)u;
}

.centerInfo {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 40%;
  padding: 10px;
}

.centerTag {
  margin: auto;
  width: 25%;
  padding: 10px;
}

.steps {
  margin: {
    top: 20px;
    bottom: 20px;
  }
  padding: {
    top: 25px;
    bottom: 15px;
  }
  background: {
    color: white;
  }
  border-radius: 15px;
}
