.screen {
	height: 100vh;
	position: relative;
	background: {
		size: cover;
		position: center center;
		repeat: no-repeat;
		attachment: fixed;
	}

	&.half {
		height: 50vh;
	}

	&.color1 {
		background-color: $color1;
	}

	&.color2 {
		background-color: $color2;
	}
}
