<!DOCTYPE html>
<html>
	<head>
		<title>BA.Hero</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200" rel="stylesheet">
		<style type="text/css"></style>
	</head>

	<body>
    {{#with brand}}
      <section class="screen">
        <div class="center_block">
          <p class="huge">{{header}}</p>
          <p>{{tagline}}</p>
      </section>
    {{/with}}

    {{#with Mission}}
      <section class="screen">
        <div class="center_block">
          <p class="huge">{{header}}</p>
          <p>{{tagline}}</p>
      </section>
    {{/with}}

  </body>

</html>
