<!DOCTYPE html>
<html ng-app="ba_hero">
	<head>
    {{>head}}
	</head>
	<body>
		<div class="nav-wrapper"> {{>navbar}} </div>
		<div class="app-wrapper" ng-view> </div>
		<div class="ftr-wrapper"> {{>footer}} </div>
		{{>angular}}
  </body>
</html>
